<!-- Footer -->
<footer class="footer text-light py-3">
  <div class="container">
    <div class="justify-content-center align-items-center">
    <div class="row">

      <!-- Quick Links Section -->
      <div class="col-md mb-2">
        <div class="col-md-4 d-flex flex-column justify-content-center align-items-center">
          <span
            class="d-flex justify-content-center align-items-center w-56 h-56 bg-main-two-600 text-light rounded-circle fs-2 mb-2">
            <i class="fas fa-hashtag"></i>
          </span>
          <div class="d-flex flex-column align-items-center text-center">
            <h5 class="fw-bold">Quick Links</h5>
            <ul class="list-unstyled">
              <li><a href="/" class="text-light">Home</a></li>
              <li><a href="/shop" class="text-light">Shop Now</a></li>
              <li><a href="/about" class="text-light">About Us</a></li>
              <li><a href="/contact" class="text-light">Contact </a></li>
              <li><a href="/services" class="text-light">Services</a></li>
              <li><a href="/privacyPolicy" class="text-light">Privacy Policy</a></li>
            </ul>
          </div>
        </div>
      </div>


    <!-- Social Media Section -->
      <div class="col-md mb-2">
        <div class="col-md-4 d-flex flex-column justify-content-center align-items-center">
          <span
            class="d-flex justify-content-center align-items-center w-56 h-56 bg-main-two-600 text-light rounded-circle fs-2 mb-2">
            <i class="fas fa-link"></i>
          </span>
          <div class="d-flex flex-column align-items-center text-center">
            <h5 class="fw-bold">Follow Us</h5>
            <ul class="list-unstyled d-flex">
              <li class="me-3">
                <a href="https://www.facebook.com" target="_blank" class="text-light"><i class="fab fa-facebook-square fa-2x"></i></a>
              </li>
              <li class="me-3">
                <a href="https://www.instagram.com" target="_blank" class="text-light"><i class="fab fa-instagram fa-2x"></i></a>
              </li>
              <li class="me-3">
                <a href="https://twitter.com" target="_blank" class="text-light"><i class="fab fa-twitter-square fa-2x"></i></a>
              </li>
              <li class="me-3">
                <a href="https://www.linkedin.com" target="_blank" class="text-light"><i class="fab fa-linkedin fa-2x"></i></a>
              </li>
            </ul>
          </div>
        </div>

      </div>



      <div class="col-md mb-2">
        <div class="col-md-4 d-flex flex-column justify-content-center align-items-center">
          <span
            class="d-flex justify-content-center align-items-center w-56 h-56 bg-main-two-600 text-light rounded-circle fs-2 mb-2">
            <i class="fas fa-truck"></i>
          </span>
          <div class="d-flex flex-column align-items-center text-center">
            <h5 class="fw-bold">Worldwide Shipping</h5>
            <p>Orders are delivered worldwide and at due dates.</p>
          </div>
        </div>
      </div>


      <div class="col-md mb-2">
        <div class="col-md-4 d-flex flex-column justify-content-center align-items-center">
          <span
            class="d-flex justify-content-center align-items-center w-56 h-56 bg-main-two-600 text-light rounded-circle fs-2 mb-2">
            <i class="fas fa-user-cog"></i>
          </span>
          <div class="d-flex flex-column align-items-center text-center">
            <h5 class="fw-bold">Customized Orders</h5>
            <p>Products can be made to personalized perference on request.</p>
          </div>
        </div>

      </div>




      
      <!-- Newsletter Section -->

      <div class="col-md mb-2">
        <div class="col-md-4 d-flex flex-column justify-content-center align-items-center">
          <span
            class="d-flex justify-content-center align-items-center w-56 h-56 bg-main-two-600 text-light rounded-circle fs-2 mb-2">
            <i class="fas fa-newspaper"></i>
          </span>
          <div class="d-flex flex-column align-items-center text-center">
            <h5 class="fw-bold ">Subscribe to Our Newsletter</h5>
            <form action="/subscribe" method="POST">
              <input type="email" class="form-control-lg mb-2" placeholder="Enter your email" required />
              <button type="submit" class="btn btn-secondary w-100">Subscribe</button>
            </form>
          </div>
        </div>

      </div>


    </div>
    </div>


    <!-- Bottom Copyright Section -->
    <div class="text-center" style="font-size: medium;">
      <p>&copy; 2025 JustVkey - All Rights Reserved</p>
    </div>
  </div>
</footer>

<!-- Font Awesome CDN for Social Media Icons -->
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
