<!-- Footer -->
<footer class="text-light py-2" style="background-color: rgb(54, 54, 54);">
  <div class="row text-center g-2 mt-3">

    <!-- Quick Links Section -->
    <div class="col-md-4 d-flex flex-column justify-content-between">
      <h5 class="fw-bold">Quick Links</h5>
      <ul class="list-unstyled mb-0">
        <li><a href="/" class="text-light">Home</a></li>
        <li><a href="/shop" class="text-light">Shop Now</a></li>
        <li><a href="/about" class="text-light">About Us</a></li>
        <li><a href="/contact" class="text-light">Contact</a></li>
        <li><a href="/services" class="text-light">Services</a></li>
        <li><a href="/privacyPolicy" class="text-light">Privacy</a></li>
      </ul>
    </div>

    <!-- Social Media Section -->
    <div class="col-md-4 d-flex flex-column justify-content">
      <h5 class="fw-bold" style="font-size: small;">Follow Us</h5>
      <ul class="list-unstyled d-flex justify-content-center align-items-center mb-0">
        <li class="me-3">
          <a href="#" target="_blank" class="text-light"><i class="fab fa-facebook-square fa-2x"></i></a>
        </li>
        <li class="me-3">
          <a href="https://www.instagram.com/beadsby_justvkey?igsh=enJvYjBocGg2amgx" target="_blank"
            class="text-light"><i class="fab fa-instagram fa-2x"></i></a>
        </li>
        <li class="me-3">
          <a href="#" target="_blank" class="text-light"><i class="fab fa-twitter-square fa-2x"></i></a>
        </li>
        <li class="me-3">
          <a href="#" target="_blank" class="text-light"><i class="fab fa-linkedin fa-2x"></i></a>
        </li>
      </ul>
    </div>

    <!-- Newsletter Section -->
    <div class="col-md-4 d-flex flex-column justify-content">
      <h5 class="fw-bold" style="font-size: small;">Subscribe to Our Newsletter</h5>
      <% if (message) { %>
        <div class="alert alert-light alert-sm text-center d-flex justify-content-between align-items-center"
          style="font-size: 13px; padding: 3px;">
          <span>
            <%= message %>
          </span>
          <button type="button" class="btn-close btn-sm" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% } %>
      <form action="/subscribe" method="POST" class="d-flex justify-content-center">
        <input type="email" name="email" class="form-control-lg me-2" placeholder="Enter your email" required />
        <button type="submit" class="btn btn-dark">Subscribe</button>
      </form>
    </div>

  </div>
</footer>

<!-- Footer Logo -->
<div class="text-center mt-2 fw-bold d-flex flex-column align-items-center" style="font-size: small;">
  <div class="mb-3">
    <img src="/assets/images/logo/logo.png" alt="" height="35">
  </div>
  <div class="d-flex align-items-center">
    <p class="me-3">Copyright &copy; 2025 JustVkeyLuxuries</p>
    <p class="me-3">Developed by: <a href="https://www.github.com/Amazingmercy" class="text-dark">Mercy Amaefule</a></p>
  </div>
</div>
