<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %>
</head>

<body>

  <!-- Services Section -->
  <section class="services-section py-5">
    <div class="p-3">
      <h3 class="display-5 text-dark text-center" style="font-weight: 600;">Our Services</h3>
      <h5 class="text-center mb-5"> We provide exquisite services tailored to meet your needs. Explore what we have to offer!</h5>
    </div>
    <div class="container bg-light mb-5">
      <div class="row g-5 m-3">
        <div class="col-md-4">
          <div class="card h-100 shadow-lg">
            <div class="card-body text-center p-5">
              <i class="fas fa-shipping-fast fa-3x text-dark mb-3"></i>
              <h5 class="card-title fw-bold fs-5">Fast Delivery</h5>
              <p class="card-text fs-8">
                Enjoy swift and reliable delivery for all your purchases. We ensure your items arrive on time, every time.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card h-100 shadow-lg">
            <div class="card-body text-center p-5">
              <i class="fas fa-hand-holding-heart fa-3x text-dark mb-3"></i>
              <h5 class="card-title fw-bold fs-5">Customer Support</h5>
              <p class="card-text fs-8">
                Our dedicated support team is available 24/7 to address your questions and concerns.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card h-100 shadow-lg">
            <div class="card-body text-center p-5">
              <i class="fas fa-tags fa-3x text-dark mb-3"></i>
              <h5 class="card-title fw-bold fs-5">Best Prices</h5>
              <p class="card-text fs-8">
                Get the best deals on high-quality products. We offer competitive pricing without compromising quality.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row g-5 m-3">
        <div class="col-md-4">
            <div class="card h-100 shadow-lg">
              <div class="card-body text-center p-5">
                <i class="fas fa-credit-card fa-3x text-dark mb-3"></i>
                <h5 class="card-title fw-bold fs-5">Secured Payment</h5>
                <p class="card-text fs-8 ">
                Shop with confidence knowing your payments are 100% secure. We prioritize your safety with reliable and trusted payment option.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card h-100 shadow-lg">
              <div class="card-body text-center p-5">
                <i class="fas fa-chalkboard-teacher fa-3x text-dark mb-3"></i>
                <h5 class="card-title fw-bold fs-5">Trainings</h5>
                <p class="card-text fs-8">
                  Our training program is tailored to provide expert knowledge and practical skills to make quality beaded bags, accessories, Home and office decorations.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card h-100 shadow-lg">
              <div class="card-body text-center p-5">
                <i class="fas fa-tools fa-3x text-dark mb-3"></i>
                <h5 class="card-title fw-bold fs-5">Quality and Durable Materials</h5>
                <p class="card-text fs-8">
                  We use quality materials to create durable and elegant Products that stand the test of time.
                </p>
              </div>
            </div>
          </div>
      </div>
    </div>
  </section>


  <section>
    <%- include('partials/trendingProducts') %>
  </section>

  <%- include('partials/footer') %>

  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

</body>

</html>
