/* General Styles */
body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
}

.hero-section {
    display: flex;
    flex-direction: column-reverse; /* Ensure text is above image for mobile view */
  }
  
/* Card Customization */
.card {
    border: none;
    transition: transform 0.3s ease-in-out;
}

.card:hover, .card:focus {
    transform: scale(1.05);
}


.fw-bold{
    font-size: 1rem;
}

.social-icons a {
    font-size: 1.5rem;
    transition: color 0.3s ease-in-out;
}

.social-icons a:hover {
    color: #aaa;
}
.preloader {
    background-color: hsl(var(--white));
    inset-block-end: 0;
    inset-inline-start: 0;
    position: fixed;
    inset-inline-end: 0;
    inset-block-start: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sticky-top {
    z-index: 1030; /* Ensure it's above other content */
    left: 10px;
    top: 100px; /* Optional: Adjust the distance from the top */
}

input, select {
    max-width: 200px; /* You can adjust the width */
}
.custom-bg:hover{
    background-color: rgba(54, 54, 54, 0.505);
    color: black;
    cursor: pointer;
}

.footer{
    font-size: 0.8rem;
}
.logoName{
    background-color: white;
    color: black;
}

.menu-bar{
   font-size: larger;
   font-weight: bold;
}

.cart {
    position: sticky;
    top: 30%; /* Sticks at the bottom of the screen */
    left: 0; /* Aligns to the right side of the screen */
    padding: 10px;
    margin: 0;
    z-index: 1000; /* Ensures it's above other elements */
    max-width: 80px;
  }
  
  .icon-wrapper {
    position: relative;
    display: inline-block;
  }
  
  .cart-badge {
    top: 0;
    left: 100%;
    transform: translate(-50%, -50%);
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem;
  }
  

@media screen and (min-width:768px){
    body{
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-size: small;
    }
    .button{
        min-height: 50px;
        width: fit-content;
    }
    .hero-section {
        flex-direction: column; /* Stack text above image on larger screens */
      }
    
}
  

  